@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
body{
  margin: 0;
  height: 100vh;
}
.container {
  background-image:url(https://img.freepik.com/foto-gratis/cerca-fondo-arpillera-yute-bolsa-textura_53876-74666.jpg?size=626&ext=jpg);
  position: relative;
  font-family: 'Sigmar One', cursive;
  height: inherit;
  visibility: visible;
  display: block;
}
.container2 {
  background-color:#dcdcdc;
  position: relative;
  font-family: 'Sigmar One', cursive;
  visibility: hidden;
  display: none;
} 
h1 {
  position: relative;
  text-align: center;
  font-size: 560%;
  margin-top: 0;
}
section, footer{
  display: flex;
  justify-content: space-around;
}
#little{
  height: 300px;
  width: auto;
  border: 8px solid rgb(214, 205, 205);
  border-radius: 20px;
}
@media (max-width: 768px) {
  /*hacerlo responsive*/

  section {
    height: 10rem;
    width: auto;
  }
  
}
